%h1 Schematy

%table.table
  %tr
    %th Name
    %th Initiator
    %th Emotions
    %th Thoughts
    %th Behaviour
    %th My schema
    %th H thought text
    %th R worry
    %th O reaction
    %th H behaviour
    %th Belief
    %th
    %th
    %th

  - @schemas.each do |schema|
    %tr
      %td= schema.name
      %td= schema.initiator
      %td= schema.emotions
      %td= schema.thoughts
      %td= schema.behaviour
      %td= schema.my_schema
      %td= schema.h_thought
      %td= schema.r_worry
      %td= schema.o_reaction
      %td= schema.h_behaviour
      %td= schema.belief
      %td= link_to 'Show', schema
      %td= link_to 'Edit', edit_schema_path(schema)
      %td= link_to 'Destroy', schema, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New schema', new_schema_path
