%p#notice= notice

%p
  %b Name:
  = @schema.name
%p
  %b Initiator:
  = @schema.initiator
%p
  %b Emotions:
  = @schema.emotions
%p
  %b Thoughts:
  = @schema.thoughts
%p
  %b Behaviour:
  = @schema.behaviour
%p
  %b My schema:
  = @schema.my_schema
%p
  %b H thought text:
  = @schema.h_thought
%p
  %b R worry:
  = @schema.r_worry
%p
  %b O reaction:
  = @schema.o_reaction
%p
  %b H behaviour:
  = @schema.h_behaviour
%p
  %b Belief:
  = @schema.belief

= link_to 'Edit', edit_schema_path(@schema)
\|
= link_to 'Back', schemas_path
