= form_for moodentry do |f|
  - if moodentry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@moodentry.errors.count, "error")} prohibited this moodentry from being saved:"
      %ul
        - moodentry.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-6
      .field
        = f.label :data
        = f.date_select :date, class: "form-control"
      .field
        = f.label :notatka
        = f.text_area :note, class: "form-control"
      .field
        = f.label :nastrój
        = f.number_field :mood, class: "form-control-short"
      .actions
        = f.submit 'Save', class: "btn btn-large btn-primary"
