.row
  .col-md-6
    %h1 Oś Nastroju
  .col-md-6
    %br
    = link_to 'Dodaj nowy wpis', new_user_moodentry_path(current_user), class: "btn btn-large btn-primary pull-right"


= line_chart Moodentry.where(user_id: current_user).group(:date).average(:mood)

%table.table
  %tr
    %th Data
    %th Notatka
    %th Nastrój
    %th
    %th

  - current_user.moodentries.each do |moodentry|
    %tr
      %td= moodentry.date
      %td= moodentry.note
      %td= moodentry.mood
      %td= link_to 'Edytuj', edit_user_moodentry_path(user, moodentry)
      %td= link_to 'Usuń', user_moodentry_path(user, moodentry), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Dodaj nowy wpis', new_user_moodentry_path(current_user), class: "btn btn-large btn-primary pull-right"

