%h1 Oś Nastroju

= line_chart Moodentry.where(user_id: current_user).group(:date).average(:mood)

%table.table
  %tr
    %th Data
    %th Notatka
    %th Nastrój (-10 / 10)
    %th
    %th
    %th

  - current_user.moodentries.each do |moodentry|
    %tr
      %td= moodentry.date
      %td= moodentry.note
      %td= moodentry.mood
      %td= link_to 'Show', user_moodentry_path(user, moodentry)
      %td= link_to 'Edit', edit_user_moodentry_path(user, moodentry)
      %td= link_to 'Destroy', user_moodentry_path(user, moodentry), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nowy wpis', new_user_moodentry_path(current_user), class: "btn btn-large btn-primary"

