
%p
  %b Date:
  = moodentry.date
%p
  %b Note:
  = moodentry.note
%p
  %b Mood:
  = moodentry.mood

%p= moodentry.user_id

= link_to 'Edit', edit_moodentry_path(moodentry)
= link_to 'Back', moodentries_path
