%p#notice= notice

%p
  %b Date:
  = @moodentry.date
%p
  %b Note:
  = @moodentry.note
%p
  %b Mood:
  = @moodentry.mood

= link_to 'Edit', edit_moodentry_path(user, moodentry)
= link_to 'Back', moodentries_path
