.jumbotron
	%h3 Dokumentacja dla pacjentów, psychologów i terapeutów
	- if user_signed_in?
		= link_to 'Oś Nastroju', moodentries_path, class: "btn btn-large btn-default"
		= link_to 'Skala Becka', becks_path, class: "btn btn-large btn-default"
		= link_to 'Schematy', schemas_path, class: "btn btn-large btn-default"
		= link_to 'ABC', '#', class: "btn btn-large btn-default"
	- else
		= link_to 'Zaloguj się aby korzystać z aplikacji', new_user_session_path, class: "btn btn-large btn-primary"

	
