%h3 #{product.title} Pictures

%table.table
	%tr
		%th Picture Link
		%th
	- product.pictures.each do |picture|
		%tr
			%td= picture.url
			%td= link_to 'Delete picture', category_product_picture_path(product.category, product, picture), method: :delete, data: { confirm: 'Are you sure?' }
%br
= render 'form'
%br
%p
	= link_to "back to #{product.title} Profile", category_product_path(category.id, product.id)