= form_for @beck do |f|
  - if @beck.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beck.errors.count, "error")} prohibited this beck from being saved:"
      %ul
        - @beck.errors.full_messages.each do |msg|
          %li= msg


  .row
    .col-md-6
      .field
        = f.label :data
        = f.date_select :date, class: "form-control"
      .field
        = f.label :notatka
        = f.text_area :notes, class: "form-control"
      .field
        = f.label :wartość
        = f.number_field :value, class: "form-control-short"
      .actions
        = f.submit 'Save', class: "btn btn-large btn-primary"

