.row
  .col-md-6
    %h1 Skala Depresji Becka
  .col-md-6
    %br
    = link_to 'Dodaj nową wartość', new_beck_path, class: "btn btn-large btn-primary pull-right"


= line_chart Beck.where(user_id: current_user).group(:date).average(:value)

%table.table
  %tr
    %th Data
    %th Notatki
    %th Wartość
    %th
    %th
    %th

  - current_user.becks.each do |beck|
    %tr
      %td= beck.date
      %td= beck.notes
      %td= beck.value
      %td= link_to 'Edytuj', edit_beck_path(beck)
      %td= link_to 'Usuń', beck, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Dodaj nową wartość', new_beck_path, class: "btn btn-large btn-primary pull-right"

%br