%ol.breadcrumb
  %li
    %a{href: root_path} Categories
  %li.active #{category.name}
  

%h2 #{category.name} 
- if user_signed_in?
  %p #{link_to "(Edit category name)", edit_category_path(category)}

%table.table
  %tr
    %th Name
    %th Breed
    %th Gender
    %th Year
    %th Description
    %th Color
    %th Height
    %th Price


    - category.products.each do |product|
      %tr
        %td= link_to "#{product.title}", category_product_path(category, product)
        %td= product.breed
        %td= product.gender
        %td= product.YoB
        %td= truncate(product.description, :length => 150, :separator => " ")
        %td= product.color
        %td= product.height
        %td= product.price

%p

- if user_signed_in?
  %h3 Add a new horse for sale:
  = render 'products/form'

= link_to 'Back', categories_path
