%h3 Category #{category.name}

%h5
  Products:
  %br
%table.table.table-striped
  %tr
    %th Name
    %th Descriprtion
    %th Price
    %th Avg rating
    %th
    %th

    - category.products.each do |product|
      %tr
        %td= link_to "#{product.title}", category_product_path(category, product)
        %td= product.description
        %td= product.price
        %td= product.average_rating
        %td= link_to 'Edit', edit_category_product_path(category, product)
        %td= link_to link_to raw('<span class="glyphicon glyphicon-trash"></span>'), category_product_url(category, product), method: :delete, data: { confirm: 'Are you sure?' }

%p
  %h3 New product
  = render 'products/form'

= link_to 'Edit Category', edit_category_path(category)
\|
= link_to 'Back', categories_path
