%ol.breadcrumb
  %li
    %a{href: root_path} Categories
  %li.active #{category.name}
  

%h2 #{category.name} 
- if user_signed_in?
  #{link_to "(Edit category name)", edit_category_path(category)}

- if user_signed_in?
  %p 
  = link_to "Add a new horse for sale", new_category_product_path(category.id), class: "btn btn-large btn-primary"

%p

.row
  - category.products.each do |product|
    .col-sm-6.col-md-4
      .thumbnail
        = link_to image_tag(product.picture), category_product_path(category, product)
        .caption
          %h3= product.title
          %p
            %b 
            = truncate(product.description, :length => 150, :separator => " ")
          %p
            %b Breed:
            = product.breed
          %p
            %b Gender:
            = product.gender
          %p
            %b Year of Birth:
            = product.YoB
          %p
            %b Height:
            = product.height
          %p
            %b color:
            = product.color
          %p
            %b Price:
            = product.price
          %p
            %a.btn.btn-primary{:href => category_product_path(category, product), :role => "button"} Show
            %a.btn.btn-default{:href => edit_category_product_path(category.id, product.id), :role => "button"} Edit



- if user_signed_in?
  %p 
  = link_to "Add a new horse for sale", new_category_product_path(category.id), class: "btn btn-large btn-primary"

