%ol.breadcrumb
  %li
    %a{href: root_path} Categories
  %li
    %a{href: category_path(category)} #{category.name}
  %li.active #{product.title}

%h2 #{product.title} #{link_to raw('<span class="glyphicon glyphicon-pencil small"></span>'), edit_category_product_path(category.id, product.id)}

.row
  .col-xs-6.col-md-3
    .thumbnail
      = image_tag(product.picture)

%p
  %b 
  = product.description
%p
  %b Breed:
  = product.breed
  %p
  %b Gender:
  = product.gender
  %p
  %b Year of Birth:
  = product.YoB
  %p
  %b Height:
  = product.height
  %p
  %b color:
  = product.color
  %p
  %b Price:
  = product.price

%p
  %b Category:
  = product.category.name
%p

= link_to 'Back', category_path(category)
