
%h2= product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category:
  = product.category.name
%p
  %b Average Rating:
  = product.average_rating
%p
  %b Reviews:
  = render reviews
  %br
  - if user_signed_in?
    = render 'reviews/form'
  - else
    .alert.alert-info #{link_to 'Sign in', new_user_session_path} to add new review


= link_to 'Edit', edit_category_product_path(category.id, product.id)
\|
= link_to 'Back', category_path(category)
