.jumbotron
  = form_for schema do |f|
    - if schema.errors.any?
      #error_explanation
        %h2= "#{pluralize(@schema.errors.count, "error")} prohibited this schema from being saved:"
        %ul
          - schema.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      .field
        = f.label :nazwa
        = f.text_field :name, class: "form-control"
      .field
        = f.label :"Wiara w schemat"
        = f.text_field :belief, class: "form-control"
      .field
        = f.label :"Czynnik wywołujący"
        = f.text_area :initiator, class: "form-control"
      .field
        = f.label :"Moje emocje"
        = f.text_area :emotions, class: "form-control"
      .field
        = f.label :"Moje myśli"
        = f.text_area :thoughts, class: "form-control"
      .field
        = f.label :"Moje aktualne zachowanie"
        = f.text_area :behaviour, class: "form-control"
      .field
        = f.label :"Mój schemat"
        = f.text_area :my_schema, class: "form-control"
      .field
        = f.label :"Moje zdrowe widzenie"
        = f.text_area :h_thought, class: "form-control"
      .field
        = f.label :"Moje realistyczne zmartwienie"
        = f.text_area :r_worry, class: "form-control"
      .field
        = f.label :"Moja nadmierna reakcja"
        = f.text_area :o_reaction, class: "form-control"
      .field
        = f.label :"Zdrowe zachowanie"
        = f.text_area :h_behaviour, class: "form-control"
      
      .actions
        = f.submit 'Save', class: "btn btn-large btn-primary pull-right"
