%ol.breadcrumb
  %li= link_to "Portfolio", root_path
  %li.active Schematy
  
  .row
  .col-md-6
    %h1 Schematy
  .col-md-6
    %br
    = link_to 'Dodaj nowy schemat', new_schema_path, class: "btn btn-large btn-primary pull-right"
%table.table
  %tr
    %th Nazwa
    %th Mój schemat
    %th Wiara w schemat
    %th
    %th

  - current_user.schemas.each do |schema|
    %tr
      %td= link_to schema.name, schema
      %td= schema.my_schema
      %td= schema.belief
      %td= link_to 'Edytuj', edit_schema_path(schema)
      %td= link_to 'Usuń', schema, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br