%ol.breadcrumb
  %li= link_to "Home", root_path
  %li= link_to "Schematy", schemas_path
  %li.active #{schema.name}

  %h1 Schemat: #{schema.name}
%p
  %b Wiara w schemat: #{schema.belief}
%br

%table.table
  %tr
    %th Czynnik wywołujący:
    %td= schema.initiator

  %tr
    %th Moje emocje:
    %td= schema.emotions

  %tr
    %th Moje myśli:
    %td= schema.thoughts

  %tr
    %th Moje aktualne zachowanie:
    %td= schema.behaviour

  %tr
    %th Mój schemat:
    %td= schema.my_schema

  %tr
    %th Moje zdrowe widzenie:
    %td= schema.h_thought

  %tr
    %th Moje realistyczne zmartwienie:
    %td= schema.r_worry

  %tr
    %th Moja nadmierna reakcja:
    %td= schema.o_reaction

  %tr
    %th Zdrowe zachowanie:
    %td= schema.h_behaviour

= link_to 'Edit', edit_schema_path(schema), class: "btn btn-large btn-primary"
= link_to 'Back', schemas_path
